
dim = 3
maxSweeps = 100

useHingeMoves = true
trackNumMoves = false

maxHingeMoveDeg = 7

saveFilePrefix = "test"

numFacetsTarget = 1000
hingeDegreeTarget = 5.1

numFacetsCoef = 0.01
numHingesCoef = 0.01
hingeDegreeVarCoef = 0.01
cd3DegVarCoef = 0.01

# Time increment (in units of sweeps) used for finer-graned intervals
dt = 0.1
dtPerHistory = 50
dtPerFileReport = 50
dtPerSave = 250

triesPerStdoutReport = 1000

disableGC = true
triesPerCollect = 1000

# TO DO: Better names for these formatting options!
width = 103
maxCoDim2Bins = 12
maxCoDim3Bins = 30

maxBar2 = 78
maxBar3 = 78
