# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
discrete-differential-geometry
discrete-differential-geometry-test-application
discrete-differential-geometry-test-library
discrete_differential_geometry
manifold_sampler

#unittest coverage files
*.lst

# DUB
.dub
docs.json
*.html
dub.selections.json

# data files created by unittests
data/manifold_sampler_unittest_save.dat
data/simplicial_complex_unittest_save.dat

#unit_threaded test runner
ut.d

#data files
*.dat
*.mfd
*.edge_graph
*.exe

#jupyter notebook checkpoints
*checkpoints.ipynb